.user-title-header {
    display: flex;
    flex: 1;
    align-items: center; 
    margin-top: 0px;
    margin-right: 24px;
    margin-bottom: 0px;
    margin-left: 24px;
    font-size: 1.2em;
    min-height: 4.5rem;
    border-bottom: 1px solid #c7cdd1;
}


.col-2-sidebar {
    min-width: 190px;
    max-width: 200px;
    text-align: left;
    float: left;
}
.left-content-wrapper {
    margin-top: 24px;
    margin-right: 12px;
    margin-bottom: 4.5rem;
}

.right-content-wrapper {
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 4.5rem;
    
}

.user-icon {
    font-size: 128px;
    padding: 20px;
    /* float: left; */
    /* position: relative; */
}

.btn-light {
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid;
    border-color: #c7cdd1;
    border-radius: 3px;
    padding: 8px 14px;
    font-size: 1rem;
    font-size: 1rem;
    /* line-height: 20px; */
    text-align: center;
    vertical-align: middle;
}

.btn-danger {
    background: #f5f5f5;
    border: 1px solid;
    border-color: #B51726;
    border-radius: 3px;
    padding: 8px 14px;
    font-size: 1rem;
    font-size: 1rem;
    /* line-height: 20px; */
    text-align: center;
    vertical-align: middle;
    background-color: #D41B2C;
}

.cancelsavebtn  {
    margin: 5px;
}

/* EDIT PAGE */

.form-label {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1px;
}