.col-2-nav {
    padding-right: 0px;
    text-align: center;
    height: 100vh;
}

.wd-kanbas-navigation {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    height: 100vmax;
    border-radius: 0;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    text-align: center;
}

.wd-kanbas-navigation .list-group-item {
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 5px;
    background-color: black;
    text-align: center;
    border: none;

    
}

.wd-kanbas-navigation .menu-icon {
    font-size: 33px;
}

.wd-kanbas-navigation .list-group-item.active {
    background-color: white;
    color: #D41B2C;
    padding: 5px;
    text-align: center;
    border: none;
}

