/* ul.wd-account-navigation {
    min-width: 190px;
    max-width: 200px;
    box-sizing: border-box;
    max-height: 100vh;
} */

ul.wd-account-navigation .list-group-item {
    border: none;
    text-align: left;
    font-size: 1.2em;
}

ul.wd-account-navigation .list-group-item.active {
    color: black;
    background-color: white;
    border: none;
    border-left: 2px solid black;
}

ul.wd-account-navigation .list-group-item.active a {
    color: black;

}

ul.wd-account-navigation a {
    color: #D41B2C;
    text-decoration: none;
}