.wd-sidebar-navigation {
    float: left;
    border-radius: 0;
}

.list-group-item {
    width: 150;
    background-color: black;
}

li.list-group-item > a {
    color: red;
    
}

li.list-group-item > img {
    width: 80px;
}