/* Breadcrumb */
.burger {
    margin-right: 12px;
    padding: 0;
    width: 36px;
    height: 30px;
    color: #D41B2C;
}
.bc-header  {
    display: flex;
    text-align: center;
    justify-content: start;
    flex-wrap: nowrap !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    font-size: 1.125rem !important;
    margin-top: 1rem;
    margin-left: 24px;
    /* min-height: 4.5rem; */
}

.breadcrumb-item-custom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb-item a {
    color: #D41B2C;
}